VITE_SUPABASE_URL=https://gjaavcjvfnfjlvezplor.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdqYWF2Y2p2Zm5mamx2ZXpwbG9yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwOTIzNzAsImV4cCI6MjEwMTY2ODM3MH0.vFXKVLea4ym8n5ekGf1ABqxGEi0CXceIIMhaNvxM0bY
